/* 600
font-family: 'Roboto Flex',
sans-serif; */

/* font-family: 'Roboto',
sans-serif;
font-family: 'Roboto Flex',
sans-serif; */


:root {
  --color-accent: #46b1de;
  --color-main: #000000;
  --background-color: #ffffff;

  --text--footer-color: #0F2D4A;
}


@font-face {
  font-family: 'SofiaSans';

  src: url('/src/fonts/SofiaSans.woff') format('woff'),
    url('/src/fonts/SofiaSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;

}



* {
  box-sizing: border-box;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  /* max-width: 480px; */
  display: grid;
  margin: 0 auto;
  /* background-color: blueviolet; */
}

/* section class="hero" */
.hero {
  background-image: url(/src/img/main/backgroud_mobile.png);
  background-size: cover;
  background-position: center;



}

/*header*/
.header {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 10px 0;
}

.logo {
  display: flex;
  /* margin-top: 30px; */
  /* width: 183px; */
}

.logo__text,
.button__link_accent,
.title__accent {
  color: var(--color-accent);
}

.logo__img {
  width: 33.39px;
  height: 34.67px;
  padding-right: 5px;
  align-self: flex-start;
}

.logo__text {
  font-family: 'SofiaSans';
  font-style: regular;

  font-size: 17px;
  line-height: 23px;
  /* Line height: 1.4; */
}


.nav__list {
  display: none;
}

.contact {
  text-align: center;
}

.contact__number {
  font-size: 12px;
  line-height: 14px;
  color: var(--color-main);

}

.contact__number>img {
  padding-right: 5px;
}

.header__lang {
  display: none;
}

/*about*/
/* .about {} */

.about__title {
  margin-top: 45px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

}

.about__subtitle {
  margin-top: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;

}

.button {
  margin-top: 10px;
  padding: 7px 0;
  width: 100px;
  height: 35px;

  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
}

.button__accent {
  background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
  box-shadow: 0px 2px 10px #46B1DE;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 50px;
}

.button__link_white {
  color: var(--background-color);
}

.button__white {
  background: var(--background-color);
  mix-blend-mode: normal;
  border: 1px solid #DDE0DC;
  box-shadow: 0px 2px 10px #DDE0DC;
  border-radius: 8px;
  margin-left: 50px;
  margin-right: 10px;
}

.lady {
  /* background: #FFFFFF;
  filter: blur(60px);
  transform: matrix(1, -0.07, 0.07, 1, 0, 0); */

  margin-top: 75px;
  margin-left: calc(50% - 104px);
  position: static;
}

/* .elipse {
  position: absolute;
  width: 112.74px;
  height: 191.36px;


  background: #FFFFFF;
  filter: blur(60px);
  transform: matrix(1, -0.07, 0.07, 1, 0, 0);
} */

/* section class="benefit__items" */

.benefit__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* grid-template-columns: repeat(3, auto);
  column-gap: 80px; */
  /* position: absolute; */
  /* bottom: calc(100% - 830px); */
  /* right: calc(50% - 580px); */

  margin-top: 15px;


}

.benefit {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 240px;
  height: 80px;
  background-color: var(--background-color);
  align-items: center;

  border: 1px solid #D8E1E1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 15px;
}

.benefit__accent {
  /* padding: 0 15px 0 15px; */
  color: var(--color-accent);
  font-size: 36px;
  font-weight: 400;
}

.benefit__text {
  font-size: 14px;
  line-height: 16px;
}

/*features*/
.features {
  /* width: 1150px; */


  /* margin-left: calc(50% - 575px); */
  margin-top: 15px;
}

.features__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  white-space: pre-line;
  text-align: center;
}

.features__subtitle {
  margin-top: 15px;
  font-size: 14px;
  white-space: pre-line;
  text-align: center;
}

.feature__items {
  display: grid;
  grid-template-columns: repeat(2, 190px);
  row-gap: 15px;
  background-color: #A1C7D4;
  border-radius: 12px;

  padding: 15px 0;
  margin-top: 10px;
  justify-content: space-around;

}

.feature__item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* padding: 15px 20px 25px; */
  background-color: var(--background-color);
}

.feature__item__accent {
  display: flex;
  color: var(--color-accent);
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.feature__item__accent span:first-child {
  font-size: 20px;
  padding-right: 10px;
}

.feature__text {
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
}

/* section class="form__inner__container"> */
.form__inner__container {
  max-width: 400px;
  height: 265px;

  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 30px;
}

.form__inner {
  width: 380px;
  height: 247px;
  background: var(--background-color);
  border: 1px solid #D9D9D9;
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;

  margin: 10px 6px 8px 8px;
}

.form__inner__title {

  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  /* identical to box height, or 42px */

  text-align: center;
  text-transform: uppercase;
}

.form__inner__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

.form {
  display: flex;
}

input[type=text] {
  padding: 12px 20px;

  border: none;
  background-color: rgba(217, 217, 217, 0.71);
  color: rgba(27, 29, 31, 0.51);
  background-image: url(./img/form_inner/user_name.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;

  width: 150px;
  height: 40px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

}


input[type=phone] {
  padding: 12px 20px;

  border: none;
  background-color: rgba(217, 217, 217, 0.71);
  color: rgba(27, 29, 31, 0.51);
  background-image: url(./img/form_inner/phone.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;

  width: 150px;
  height: 40px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.button__form__inner {
  background: var(--color-accent);
  border-radius: 8px;
  border: none;

  font-weight: 600;
  font-size: 19px;
  line-height: 1.4;
  text-transform: uppercase;


  text-align: center;

  color: var(--background-color);
}

.clients {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 20px;

  align-items: center;
}

.clients__img {
  width: 280px;
  height: 128px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  /* margin-bottom: 15px; */

}

/*Footer*/
.footer {
  min-width: 320px;

  background: linear-gradient(180deg, #A1C7D4 0%, #0680AA 100%);
  color: var(--background-color);
}

.footer__conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  height: 568px;
  /* padding: 40px 0 20px;
  margin: 0 auto; */
}

/*left part*/
.footer__info {
  color: var(--text--footer-color);
  margin: 0;
}

.footer__logo {
  display: flex;

  /* margin-top: 30px;
  margin-left: 8px; */
  align-items: center;
}

.footer__logo>img {
  padding-right: 5px;
  width: 55px;
  height: 57px;
  margin: 0;
}

.footer__logo__text {
  margin: 0;
  font-family: 'SofiaSans';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  /* line-height: 1.4; */

  color: var(--text--footer-color);
}

.footer__logo__text>span {
  font-weight: 400;
  font-size: 19px;
  /* line-height: 1.4; */
}

.footer__info__row {
  display: flex;
}

.footer__nav__list {
  /* margin-top: 21px; */
  /* margin-left: 10px; */

  font-size: 14px;
  line-height: 1.35;
}

.footer__nav__list>li:first-child {
  margin-bottom: 20px;

}

.footer__nav__list>li:last-child {
  margin-top: 27px;

}

.footer__nav__link {
  color: var(--text--footer-color);
}

.lang {
  color: var(--text-color-main);

  font-size: 14px;
  line-height: 16px;

}

.lang>span {
  font-weight: 600;
}

.time__work {

  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;

  margin: 48px 0 0 114px;
  ;
}

.time__work>p>span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}

/*right part*/
.footer__contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-style: normal;
  font-size: 20px;

}

address>p {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
}

address>span {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  margin-bottom: 13px;
}

.footer__contacts__item {
  /* padding-top: 10px; */
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  margin-bottom: 13px;
}

.footer__contacts__item:first-child {
  margin-bottom: 25px;
}

.footer__contacts__item:last-child {
  margin-bottom: 0;
}

.footer__contacts__item>a>img {
  margin-right: 15px;
}

.footer__contacts__item:last-child>a>img {
  margin-right: 11px;
}

.footer__contacts__item>a {
  display: flex;
  align-items: center;
}

.social {
  display: none;
  margin-top: 10px;

}

.social>a>img {
  padding-right: 22px;
}

.copyright {
  margin: 36px 0 0 189px;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.3;
}